.content {
    background-color: lightgray;
    text-align: center;
    margin: 0px auto;
    padding: 90px;
}

.cards {
    margin: 20px auto;
    /* padding-left: 10%; */
    max-width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form {
    /* max-width: 200px; */
    margin: 30px auto;
    /* margin-left: 150px; */
    /* margin-bottom: 40px; */
}

