.info {
    margin: 100px auto;
    text-align: center;
    max-width: 900px;
}

.icons {
    margin: 70px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    max-width: 700px;
}

.icon p {
    max-width: 200px;
}